body .header-wrapper {
  position: relative;
  height: 77px;
}
body .header-wrapper .header {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: auto;
}
body .header-wrapper .logo-wrapper {
  top: -14px;
}
.content-wrapper {
  position: relative;
  height: auto;
  top: auto;
  left: auto;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #d2d9de;
}
