.hide {
  opacity: 0 !important;
}
.show {
  opacity: 1 !important;
}
.faded {
  opacity: 0.3 !important;
}
@font-face {
  font-family: "Fjord";
  src: url("/static/fonts/FjordOne-Regular.ttf");
}
html,
body {
  background-color: #f5f5f5;
  height: auto;
  overflow: visible;
}
a {
  text-decoration: none;
}
h1,
h2,
h3 {
  font-family: "Fjord";
  font-weight: normal;
}
h1 {
  font-size: 36px;
  color: #67737b;
}
h2 {
  font-size: 24px;
  color: #96a1a7;
}
a.btn {
  display: block;
  min-width: 100px;
  min-height: 3em;
  font-size: 0.6875em;
  text-transform: uppercase;
  color: #f5f5f5;
  background-color: #67737b;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  box-sizing: border-box;
  padding: 1.1em 1.5em 1em;
  border: 1px solid #67737b;
  text-decoration: none;
  text-align: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
a.btn:hover,
a.btn.outline:hover {
  background-color: #79a1bb;
  border: 1px solid #79a1bb;
  color: #fff;
}
a.btn.outline {
  background-color: transparent;
  color: #67737b;
}
body .header-wrapper {
  position: fixed;
  width: 100%;
  height: 85px;
  box-sizing: border-box;
  padding: 20px;
  z-index: 98;
}
body .header-wrapper .header {
  position: fixed;
  width: 900px;
  left: 50%;
  margin-left: -450px;
  padding-left: 0;
  padding-right: 0;
}
body .header-wrapper .header a.btn {
  float: right;
  margin-left: 10px;
}
body .header-wrapper .header a.btn.outline {
  float: left;
  margin-right: 10px;
  margin-left: 0;
}
body .header-filled {
  background-color: #f5f5f5;
}
.logo-wrapper {
  width: 106px;
  height: 66px;
  position: absolute;
  display: block;
  left: 50%;
  margin-left: -53px;
  top: 70px;
  z-index: 100;
}
.logo-wrapper .logo {
  width: 100%;
  height: 100%;
}
.fixed-logo {
  position: fixed;
  top: 7px;
}
.teaser {
  display: block;
  position: absolute;
  width: 630px;
  height: auto;
  left: 50%;
  margin-left: -315px;
  top: 25%;
  text-align: center;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.teaser h2 {
  margin-top: -15px;
  line-height: 1.7;
}
.teaser .pic-wrapper {
  display: block;
  width: 270px;
  height: 245px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.teaser .pic-wrapper .pic {
  width: 100%;
  height: 100%;
}
.content-wrapper {
  display: block;
  position: absolute;
  width: 900px;
  height: 90%;
  top: 85%;
  left: 50%;
  margin-left: -450px;
  overflow: visible;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.content-wrapper .searchbar {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
}
.content-wrapper .searchbar .search {
  display: block;
  position: relative;
  width: 100%;
  min-height: 60px;
  background-color: #67737b;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
  border: 1px solid #67737b;
  box-sizing: border-box;
  padding: 0 30px 7px 70px;
}
.content-wrapper .searchbar .search i {
  display: block;
  position: absolute;
  font-size: 16px;
  color: #d2d9de;
  margin-top: 18px;
  margin-left: -45px;
}
.content-wrapper .searchbar .search .signal {
  border: 1px solid #d2d9de;
  margin-left: -42px;
  margin-top: 20px;
}
.content-wrapper .searchbar .search .select2-container-multi {
  margin-top: 9px;
}
.content-wrapper .searchbar .search .select2-container-multi .select2-choices .select2-search-field input.select2-input {
  color: #fff;
  height: 30px;
  font-size: 14px;
  float: left;
  padding-top: 13px;
}
.content-wrapper .searchbar .filters {
  display: block;
  position: relative;
  height: 50px;
  background-color: #d2d9de;
  border: 1px solid #d2d9de;
  border-top: 4px solid #bec6cb;
  box-sizing: border-box;
  padding: 3px 0 0 15px;
}
.content-wrapper .searchbar .filters .filter {
  display: block;
  width: 30%;
  min-width: 200px;
  height: 37px;
  float: left;
  box-sizing: border-box;
  margin-right: 25px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}
.content-wrapper .searchbar .filters .filter i,
.content-wrapper .searchbar .filters .filter .signal {
  display: block;
  position: absolute;
  color: #67737b;
  margin-top: 8px;
  margin-left: 10px;
  z-index: 200;
}
.content-wrapper .searchbar .filters .filter .signal {
  margin-top: 10px;
  margin-left: 12px;
}
.content-wrapper .searchbar .filters .filter p {
  position: absolute;
  margin: 12px 20px 10px 55px;
  font-size: 11px;
  text-transform: uppercase;
  color: #67737b;
}
.content-wrapper .searchbar .filters .filter .select2-container .select2-choice:hover {
  background-color: transparent;
}
.content-wrapper .searchbar .filters .filter a.open-filters {
  display: block;
  position: absolute;
  width: 100%;
  height: 60px;
  margin: -15px -15px;
  cursor: pointer;
  color: #67737b;
  padding: 22px 50px;
  box-sizing: border-box;
}
.content-wrapper .searchbar .filters .filter i.icon-angle-down,
.content-wrapper .searchbar .filters .filter i.icon-angle-up {
  margin-top: 5px !important;
}
.content-wrapper .searchbar .filters .filter i.icon-angle-down {
  display: none;
}
.content-wrapper .searchbar .filters .filter:first-of-type {
  display: none;
}
.content-wrapper .searchbar .filters .filter:last-of-type {
  margin-right: 0;
}
.content-wrapper .searchbar .filters .filter:hover {
  background-color: #bec6cb;
}
.content-wrapper .fixed-bar {
  position: fixed;
  width: 900px;
  top: 80px;
  z-index: 105;
}
.content-wrapper .fixed-bar + .list {
  padding-top: 110px;
}
.content-wrapper .list {
  display: block;
  position: relative;
  background-color: #fff;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  border: 1px solid #d2d9de;
  height: auto;
  margin-bottom: 40px;
}
.content-wrapper .list .item,
.content-wrapper .list .message {
  width: 100%;
  height: 80px;
  min-height: 80px;
  border-bottom: 1px dashed #d2d9de;
  box-sizing: border-box;
}
.content-wrapper .list .item i,
.content-wrapper .list .message i,
.content-wrapper .list .item .title,
.content-wrapper .list .message .title {
  float: left;
}
.content-wrapper .list .item .title,
.content-wrapper .list .message .title {
  width: 50%;
  margin-left: 25px;
  margin-top: 20px;
}
.content-wrapper .list .item .title p,
.content-wrapper .list .message .title p,
.content-wrapper .list .item .title h3,
.content-wrapper .list .message .title h3 {
  margin-top: 0px;
  margin-bottom: 7px;
}
.content-wrapper .list .item i,
.content-wrapper .list .message i,
.content-wrapper .list .item p,
.content-wrapper .list .message p {
  color: #96a1a7;
}
.content-wrapper .list .item i,
.content-wrapper .list .message i {
  margin-top: 31px;
  position: absolute;
  margin-left: -20px;
}
.content-wrapper .list .item p,
.content-wrapper .list .message p {
  font-size: 12px;
  margin-top: 35px;
}
.content-wrapper .list .item h3,
.content-wrapper .list .message h3 {
  font-family: 'Fjord';
  color: #495656;
  font-size: 16px;
}
.content-wrapper .list .item p.right,
.content-wrapper .list .message p.right {
  float: right;
  margin-left: 50px;
}
.content-wrapper .list .item a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 40px 0 45px;
  box-sizing: border-box;
  background-color: transparent;
}
.content-wrapper .list .item a:hover {
  background-color: #e7f0f6;
}
.content-wrapper .list .item a:active {
  background-color: #f5f5f5;
}
.content-wrapper .list .item:last-of-type {
  border: 0;
}
.content-wrapper .list .message {
  height: 100px;
  background-color: #ff7f4d;
  border-top: 2px solid #ec6e3e;
  border-bottom: 2px solid #ec6e3e;
  padding: 5px 0 20px 45px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.content-wrapper .list .message .title {
  width: 70%;
}
.content-wrapper .list .message p,
.content-wrapper .list .message h3 {
  color: #fff;
}
.content-wrapper .list .message a.btn.outline {
  color: #fff;
  border: 1px solid #fff;
  float: right;
  margin-top: 25px;
  margin-right: 40px;
}
.content-wrapper .list .message a.btn.outline:hover {
  background-color: #fff;
  color: #ff7f4d;
}
.content-wrapper.scrolled {
  top: 80px;
}
/*------------------------------------------------------
				   General Components
------------------------------------------------------*/
select {
  width: 100%;
  height: 35px;
  background-color: transparent;
  font-size: 14px;
  color: #67737b;
  border: 0;
  -webkit-appearance: none;
}
.signal {
  border: 1px solid #67737b;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  height: 16px;
  opacity: 0;
  position: absolute;
  width: 16px;
  -webkit-animation: pulsate 0.7s ease-out;
  animation: pulsate 0.7s ease-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
/*------------------------------------------------------
            	  Select2 Customization
------------------------------------------------------*/
.select2-container,
.select2-container-multi {
  width: 100%;
}
.select2-container .select2-choices,
.select2-container-multi .select2-choices {
  box-sizing: border-box;
  background-color: transparent !important;
  background-image: none !important;
  border: 0 !important;
}
.select2-container-multi.select2-container-active .select2-choices {
  box-shadow: none !important;
}
.select2-drop {
  border: 0 !important;
  padding: 20px 20px 10px 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-top: 10px;
}
.select2-search input {
  min-height: 30px;
  border: 0;
  border-bottom: 1px solid #d2d9de;
  font-size: 12px;
  background: none !important;
  color: #96a1a7;
  box-sizing: border-box;
  padding-left: 20px;
}
.select2-results {
  max-height: none !important;
}
.select2-results .select2-result-label {
  font-size: 12px;
  margin: 5px 0 !important;
  padding: 10px 20px !important;
  color: #67737b;
}
.ui-select-choices-group {
  margin-bottom: 20px !important;
}
.ui-select-choices-group:last-of-type {
  margin-bottom: 0 !important;
}
.ui-select-choices-group-label {
  text-transform: uppercase !important;
}
.select2-result-sub .select2-result-label,
.select2-results .select2-result .select2-result-label {
  font-size: 14px;
  text-transform: none;
  color: #67737b !important;
}
.select2-results .select2-result-with-children .select2-result-label {
  font-size: 12px;
  color: #d2d9de;
}
.select2-results .select2-result-with-children .select2-result-sub .select2-result-selectable .select2-result-label {
  font-size: 14px;
  text-transform: none;
  color: #67737b;
}
.select2-highlighted {
  background-color: #e7f0f6 !important;
}
.select2-container-multi .select2-choices .select2-search-choice {
  color: #67737b;
  font-size: 14px;
  line-height: auto;
  background-image: none;
  background-color: #d2d9de;
  padding: 10px 13px;
  border: 0;
  box-shadow: 0 2px 0 rgba(0,0,0,0.15);
}
.select2-container-multi .select2-choices .select2-search-choice:hover {
  background-color: #bec6cb;
}
.select2-container-multi .select2-choices .select2-search-choice-close {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: none !important;
  background-color: transparent;
}
.select2-results .select2-no-results {
  color: #96a1a7;
  font-size: 11px;
  text-transform: uppercase;
  background-color: transparent;
  padding: 10px 0 0 0;
}
.select2-container .select2-choice {
  background-image: none;
  background-color: transparent;
  border: 0;
  padding-left: 30px;
  color: #67737b;
  font-size: 14px;
  padding: 5px 10px 5px 55px;
}
.select2-container .select2-choice .select2-arrow {
  display: none;
}
.select2-dropdown-open .select2-choice,
.select2-container-active .select2-choice {
  box-shadow: none;
}
.filter-drop {
  padding: 10px 15px !important;
}
/*UI SELECT styles*/
.select2-container .select2-choice > .select2-chosen {
  display: none;
}
/*-------------------------------------------------
				   Media Queries
-------------------------------------------------*/
@media screen and (max-width: 900px) {
  body .header-wrapper .header {
    width: 100%;
    left: 0;
    margin-left: 0;
    padding: 0 10px;
    box-sizing: border-box;
  }
  .content-wrapper {
    width: 100%;
    margin-left: 0;
    left: 0;
    padding: 0 10px;
    box-sizing: border-box;
  }
  .content-wrapper .fixed-bar {
    width: 100%;
    box-sizing: border-box;
    padding-right: 20px;
  }
}
@media screen and (max-width: 640px) {
  .header a.btn {
    padding-left: 0.7em;
    padding-right: 0.7em;
  }
  .teaser {
    width: 100%;
    left: 0;
    margin-left: 0;
    box-sizing: border-box;
    padding: 0 20px;
    top: 20%;
  }
  .teaser h1 {
    font-size: 30px;
  }
  .teaser h2 {
    font-size: 20px;
  }
  .content-wrapper .searchbar .search {
    padding-left: 50px;
    padding-right: 20px;
  }
  .content-wrapper .searchbar .search i {
    margin-left: -35px;
  }
  .content-wrapper .searchbar .filters {
    height: auto;
  }
  .content-wrapper .searchbar .filters .filter {
    display: none;
  }
  .content-wrapper .searchbar .filters .filter:first-of-type {
    display: block;
  }
  .content-wrapper .searchbar .filters .filter i.icon-angle-up {
    display: none;
  }
  .content-wrapper .searchbar .filters .filter i.icon-angle-down {
    display: block;
  }
  .content-wrapper .searchbar .filters .filter {
    width: 100%;
    float: none;
    padding-right: 15px;
    margin: 10px 0;
  }
  .content-wrapper .searchbar .filters.opened .filter {
    display: block;
  }
  .content-wrapper .searchbar .filters.opened .filter i.icon-angle-up {
    display: block;
  }
  .content-wrapper .searchbar .filters.opened .filter i.icon-angle-down {
    display: none;
  }
  #filters-trigger {
    display: block;
  }
  .content-wrapper .searchbar .filters .filter i {
    margin-left: 0;
  }
  .content-wrapper .list .item,
  .content-wrapper .list .message {
    height: auto;
    padding: 10px 0;
  }
  .content-wrapper .list .item .title,
  .content-wrapper .list .message .title {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    float: none;
    padding: 10px 25px 0;
    box-sizing: border-box;
  }
  .content-wrapper .list .message p {
    line-height: 1.5;
  }
  .content-wrapper .list .message a.btn.outline {
    float: none;
    margin: 20px;
  }
  .content-wrapper .list .item .title p {
    margin: 0;
  }
  .content-wrapper .list .item p.right,
  .content-wrapper .list .item .message p {
    position: relative;
    float: none;
    margin: 10px 25px;
  }
  .content-wrapper .list .item i {
    float: left;
    padding: 0;
    display: block;
    margin-left: -10px;
  }
  .select2-container .select2-choice {
    padding-left: 35px;
  }
}
@-moz-keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@-webkit-keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@-o-keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
@keyframes pulsate {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
