
.icon-star:before { content: '\e800'; } /* '' */
.icon-money:before { content: '\e801'; } /* '' */
.icon-angle-down:before { content: '\e802'; } /* '' */
.icon-camera:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-paperplane:before { content: '\e805'; } /* '' */
.icon-map:before { content: '\e806'; } /* '' */
.icon-edit:before { content: '\e807'; } /* '' */
.icon-close:before { content: '\e808'; } /* '' */
.icon-arrow-left:before { content: '\e809'; } /* '' */
.icon-time:before { content: '\e80a'; } /* '' */
.icon-paperplane-circle:before { content: '\e80b'; } /* '' */
.icon-twitter-squared:before { content: '\e80c'; } /* '' */
.icon-gplus-squared:before { content: '\e80d'; } /* '' */
.icon-angle-left:before { content: '\e80e'; } /* '' */
.icon-facebook-squared:before { content: '\e80f'; } /* '' */
.icon-linkedin-squared:before { content: '\e810'; } /* '' */
.icon-github-squared:before { content: '\e811'; } /* '' */
.icon-angle-right:before { content: '\e812'; } /* '' */
.icon-angle-up:before { content: '\e813'; } /* '' */
.icon-lightbulb:before { content: '\e814'; } /* '' */
.icon-menu:before { content: '\e815'; } /* '' */