@font-face {
  font-family: 'placetofit';
  src: url('../font/placetofit.eot?66136001');
  src: url('../font/placetofit.eot?66136001#iefix') format('embedded-opentype'),
       url('../font/placetofit.woff?66136001') format('woff'),
       url('../font/placetofit.ttf?66136001') format('truetype'),
       url('../font/placetofit.svg?66136001#placetofit') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'placetofit';
    src: url('../font/placetofit.svg?66136001#placetofit') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "placetofit";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-star:before { content: '\e800'; } /* '' */
.icon-money:before { content: '\e801'; } /* '' */
.icon-angle-down:before { content: '\e802'; } /* '' */
.icon-camera:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-paperplane:before { content: '\e805'; } /* '' */
.icon-map:before { content: '\e806'; } /* '' */
.icon-edit:before { content: '\e807'; } /* '' */
.icon-close:before { content: '\e808'; } /* '' */
.icon-arrow-left:before { content: '\e809'; } /* '' */
.icon-time:before { content: '\e80a'; } /* '' */
.icon-paperplane-circle:before { content: '\e80b'; } /* '' */
.icon-twitter-squared:before { content: '\e80c'; } /* '' */
.icon-gplus-squared:before { content: '\e80d'; } /* '' */
.icon-angle-left:before { content: '\e80e'; } /* '' */
.icon-facebook-squared:before { content: '\e80f'; } /* '' */
.icon-linkedin-squared:before { content: '\e810'; } /* '' */
.icon-github-squared:before { content: '\e811'; } /* '' */
.icon-angle-right:before { content: '\e812'; } /* '' */
.icon-angle-up:before { content: '\e813'; } /* '' */
.icon-lightbulb:before { content: '\e814'; } /* '' */
.icon-menu:before { content: '\e815'; } /* '' */