.svg-logo {
	background: url(svg/sprite.css-340af766.svg) 99.6710854181202% 0 no-repeat;
}

.svg-logo-dims {
	width: 109.109px;
	height: 42.529px;
}

.svg-place {
	background: url(svg/sprite.css-340af766.svg) 0 0 no-repeat;
}

.svg-place-dims {
	width: 270px;
	height: 245px;
}

