doctype html
html(lang="en")
   head
      base(href="/")
      block title 
      meta(charset="utf-8")
      meta(name="viewport", content="width=device-width, initial-scale=1")
      link(rel="stylesheet", href="/static/bower_components/select2-ng/select2.css")
      link(rel="stylesheet", href="/static/bower_components/bootstrap/dist/css/bootstrap.css")
      link(rel="stylesheet", href="/static/bower_components/angular-ui-select/dist/select.css")
      link(rel="stylesheet", href="/static/css/normalize.css")
      link(rel="stylesheet", href="/static/css/main.css")
      link(rel="stylesheet", href="/static/fonts/icon_font/css/placetofit.css")
      link(rel="stylesheet", href="/static/svg/sprite/css/sprite.css")
      block css

   body
      block template

   script(src="/static/bower_components/jquery/dist/jquery.min.js")
   script(src="/static/bower_components/angular/angular.js")
   
   script(src="/static/bower_components/select2-ng/select2.min.js")
   
   script(src="/static/bower_components/angular-sanitize/angular-sanitize.js")
   script(src="/static/bower_components/angular-ui-select/dist/select.js")
   
   script(src="/static/bower_components/angular-route/angular-route.js")
   script(src="/static/bower_components/angular-resource/angular-resource.js")
   script(src="/static/bower_components/angular-scroll/angular-scroll.js")
   block scripts      