extends 'base.jade'

block title
	title {{ job.title|title }} | Placetofit

block css
	link(rel="stylesheet", href="/static/css/detail.css")

block template
	.header-wrapper(id="header")
		.header
			a.btn(href="#") Login
			a.btn.outline(href="#") How it works
			.logo-wrapper(fix-in-header)
				svg(xmlns:xlink="http://www.w3.org/1999/xlink", class="logo")
						use(xlink:href="/static/svg/sprite/symbol/svg/sprite.symbol.svg#logo")
	
	.content-wrapper
		h1 {{ job.title }}
		p {{ job.description }}
		p {{ job.requirements }}
		p {{ job.responsibilities }}
		p {{ job.bonuses }}

block scripts