extends "base.jade"

block title
	title Placetofit | Jobs

block template
	.header-wrapper(id="header")
		.header
			a.btn(href="#") Login
			a.btn.outline(href="#") How it works

	div(ng-app="jobs" ng-controller="JobsController")
		.logo-wrapper(fix-in-header)
			svg(xmlns:xlink="http://www.w3.org/1999/xlink", class="logo")
					use(xlink:href="/static/svg/sprite/symbol/svg/sprite.symbol.svg#logo")

		
		.teaser(id="teaser")
			h1 Looking for your next dream job in IT?
			h2 We intoduce developers to companies, look for a best fit and help with relocation
			.pic-wrapper
				svg(xmlns:xlink="http://www.w3.org/1999/xlink", class="pic")
					use(xlink:href="/static/svg/sprite/symbol/svg/sprite.symbol.svg#place")

		.content-wrapper(id="jobs")
			.searchbar(id="searchbar")
				.search
					i.icon-search(ng-hide="loadingTags || loadingJobs")
					.signal(ng-show="loadingTags || loadingJobs")
					div(ui-select multiple ng-model="options.tags" id="search" theme="bootstrap")
						div(ui-select-match) {$ $item.title $}
						ui-select-choices(repeat="tag.id as tag in search.tags | propsFilter: {title: $select.search}", group-by="'tag_type'", refresh="search.refreshTags($select.search)", refresh-delay="0")
							div(ng-bind-html="tag.title | highlight: $select.search")

				.filters(id="filters")
					.filter(filters-trigger)
						a.open-filters Filters
						i.icon-angle-down
						i.icon-angle-up
				
					.filter
						i.icon-map(ng-hide="loadingCities")
						.signal(ng-show="loadingCities")
						p {$ options.city.city $}
						div(ui-select, ng-model="options.city", ng-click="getCities()")
							div(ui-select-match) {$ $select.selected.city $}
							div(ui-select-choices repeat="city in cities | filter: $select.search track by city.city" group-by="'country'")
								div(ng-bind-html="city.city")
					.filter
						i.icon-time
						p {$ options.jobType.title $}
						div(ui-select ng-model="options.jobType" search-enabled="false")
							div(ui-select-match)
							div(ui-select-choices repeat="jobtype in jobTypes")
								div(ng-bind-html="jobtype.title")
					.filter
						i.icon-money
						p {$ options.salary.title $}
						div(ui-select ng-model="options.salary" search-enabled="false")
							div(ui-select-match)
							div(ui-select-choices repeat="salary in salaries")
								div(ng-bind-html="salary.title")
			.list(ng-class="{faded: loadingJobs}")
				#first_list
					- for job in jobs
						.item
							a(href="{% url 'jobs:job_detail' job.id %}" target="_self")
								//- i.icon-paperplane 
								.title
									h3 {{ job.title|title }}
									p {{ job.city.city }}, {{ job.city.country }}
								p.right {{ job.salary }}
								p.right {{ job.job_type }}
				
				.item(ng-repeat="job in jobs")
					a(href="/jobs/{$ job.id $}" target="_self")
						//- i.icon-paperplane 
						.title
							h3 {$ job.title|title $}
							p {$ job.city.city $}, {$ job.city.country $}
						p.right {$ job.salary $}
						p.right {$ job.job_type $}
					
				section.message
					.title
						h3 None of the above looks interesting?
						p Leave your resume and we’ll let you know when we find something else for you
					a.btn.outline(href="#") Leave resume


block scripts
	script(src="/static/apps/jobs/services.js")
	script(src="/static/apps/jobs/directives.js")
	script(src="/static/apps/jobs/controllers.js")
	script(src="/static/apps/jobs/app.js")
	
	