@import 'general.styl'

body .header-wrapper
	position relative
	height 77px
	
	.header
		position relative
		margin-left auto
		margin-right auto
		left auto

	.logo-wrapper
		top -14px

.content-wrapper
	position relative
	height auto
	top auto
	left auto
	margin-left auto
	margin-right auto
	border-radius(5px)
	background-color #fff
	border 1px solid middle_dark
	