darkest = #67737B
darkest_text = #495656
dark = #96A1A7
middle_dark = #D2D9DE
btn_hover = #79A1BB
bgcolor = #f5f5f5
bgfocus = #E7F0F6
orange = #FF7F4D
orange_shadow = #EC6E3E
tagtext = #F0F3F4
tagbg = #A5B3BC

border-radius()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	border-radius arguments

transition()
	-webkit-transition arguments
	transition arguments