@import 'general.styl'
	
.hide
	opacity 0 !important
	
.show
	opacity 1 !important
	
.faded
	opacity .3 !important

@font-face
	font-family "Fjord"
	src url("/static/fonts/FjordOne-Regular.ttf")
	
html, body
	background-color #f5f5f5
	height auto
	overflow visible

a
	text-decoration none

h1, h2, h3
	font-family "Fjord"
	font-weight normal

h1 
	font-size 36px
	color darkest

h2
	font-size 24px
	color dark

a.btn
	display block
	min-width 100px
	min-height 3em
	font-size .6875em
	text-transform uppercase
	color #f5f5f5
	background-color darkest
	border-radius(3px)
	box-sizing border-box
	padding 1.1em 1.5em 1em;
	border 1px solid darkest
	text-decoration none
	text-align center
	transition(.2s)

a.btn:hover
a.btn.outline:hover
	background-color btn_hover
	border 1px solid btn_hover
	color #fff
	
a.btn.outline
	background-color transparent
	color darkest
	
body 
	.header-wrapper
		position fixed
		width 100%
		height 85px
		box-sizing border-box
		padding 20px
		//background-color bgcolor
		z-index 98
	
		.header
			position fixed
			width 900px
			left 50%
			margin-left -450px
			padding-left 0
			padding-right 0
			
			a.btn
				float right
				margin-left 10px
			
			a.btn.outline
				float left
				margin-right 10px
				margin-left 0
	
	.header-filled {
		background-color bgcolor
	}
			
.logo-wrapper
	width 106px
	height 66px
	position absolute
	display block
	left 50%
	margin-left -53px
	top 70px
	z-index 100
	
	.logo 
		width 100%
		height 100%

.fixed-logo
	position fixed
	top 7px
	
.teaser
	display block
	position absolute
	width 630px
	height auto
	left 50%
	margin-left -315px
	top 25%
	text-align center
	opacity 0
	transition(.5s)
	//z-index 99
	
	h2
		margin-top -15px
		line-height 1.7
		
	.pic-wrapper
		display block
		width 270px
		height 245px
		margin-left auto 
		margin-right auto
		margin-top 40px
		transition(.5s)
		
		.pic 
			width 100%
			height 100%
			
.content-wrapper
	display block
	position absolute
	width 900px
	height 90%
	//min-height 200px
	top 85%
	left 50%
	margin-left -450px
	overflow visible
	//z-index 97
	transition(.3s)
	
	.searchbar 
		display block
		position relative
		width 100%
		height auto
		
		.search
			display block
			position relative
			width 100%
			min-height 60px
			background-color darkest
			border-radius(5px, 5px, 0, 0)
			border 1px solid darkest
			box-sizing border-box
			padding 0 30px 7px 70px
			
			i
				display block
				position absolute
				font-size 16px
				color middle_dark
				margin-top 18px
				margin-left -45px
				
			.signal 
				border 1px solid middle_dark
				margin-left -42px
				margin-top 20px
			
			
			.select2-container-multi
				margin-top 9px
				
				.select2-choices
					
					.select2-search-field
						input.select2-input
							color #fff
							height 30px
							font-size 14px
							float left
							padding-top: 13px
							
			
		.filters
			display block
			position relative
			//width 100%
			height 50px
			background-color middle_dark
			border 1px solid middle_dark
			border-top 4px solid #BEC6CB
			box-sizing border-box
			padding 3px 0 0 15px
			
			.filter
				display block
				width 30%
				min-width 200px
				height 37px
				float left
				//margin 0 30px 0 0
				box-sizing border-box
				//padding 0 25px 0 0 
				margin-right 25px
				border-radius(3px)
				cursor pointer
				
				i, .signal
					display block
					position absolute
					color darkest
					//top 11px
					margin-top 8px
					margin-left 10px
					z-index 200
				
				.signal
					margin-top 10px
					margin-left 12px
					
				p
					position absolute
					margin 12px 20px 10px 55px
					font-size 11px
					text-transform uppercase
					color darkest
					
				.select2-container .select2-choice:hover
					//background-color #BEC6CB
					background-color transparent
				
				a.open-filters 
					//font-size 12px
					display block
					position absolute
					width 100%
					height 60px
					margin -15px -15px
					cursor pointer
					color darkest
					padding 22px 50px
					box-sizing border-box
				
				i.icon-angle-down,
				i.icon-angle-up 
					margin-top 5px !important
				
				i.icon-angle-down 
					display none
			.filter:first-of-type
				display none
			
			.filter:last-of-type
				margin-right 0
				
			.filter:hover 
				background-color #BEC6CB
		
	.fixed-bar
		position fixed
		width 900px
		top 80px
		z-index 105

	.fixed-bar + .list 
		padding-top 110px
		
	.list
		display block
		position relative
		background-color #fff
		border-radius(0, 0, 5px, 5px)
		border 1px solid middle_dark
		//width 100%
		height auto
		margin-bottom 40px
		
		.item, .message
			width 100%
			height 80px
			min-height 80px
			border-bottom 1px dashed middle_dark
			box-sizing border-box

			i, .title 
				float left
			
			.title
				width 50%
				margin-left 25px
				margin-top 20px
				
				
				p, h3
					margin-top 0px
					margin-bottom 7px

			i, p
				color dark
			
			i
				margin-top 31px
				position absolute
				margin-left -20px

			p 
				font-size 12px
				margin-top 35px
			
			h3 
				font-family 'Fjord'
				color darkest_text
				font-size 16px
			
			p a:hover 
				//text-decoration underline
				
			p.right 
				float right
				margin-left 50px
			
		.item a 
			display block
			width 100%
			height 100%
			padding 0 40px 0 45px
			box-sizing border-box
			background-color transparent
		
		.item a:hover
			background-color bgfocus
		
		.item a:active
			background-color #f5f5f5
		
		
		.item:last-of-type
			border 0 
			
		.message
			height 100px
			background-color orange
			border-top 2px solid orange_shadow
			border-bottom 2px solid orange_shadow
			padding 5px 0 20px 45px
			border-radius(0,0,5px,5px)
			
			.title
				width 70%
			p, h3
				color #fff
				
			a.btn.outline
				color #fff
				border 1px solid #fff
				float right
				margin-top 25px
				margin-right 40px
			
			a.btn.outline:hover
				background-color #fff
				color orange
				
.content-wrapper.scrolled 
	top 80px

//#filters-trigger 
//	display none	
/*------------------------------------------------------
				   General Components
------------------------------------------------------*/
select
	width 100%
	height 35px
	background-color transparent
	font-size 14px 
	color darkest
	border 0
	-webkit-appearance none

//Loader	
.signal 
	border 1px solid darkest
	border-radius 30px
	height 16px
	opacity 0
	position absolute
	width 16px
	-webkit-animation pulsate .7s ease-out
	animation pulsate .7s ease-out
	-webkit-animation-iteration-count infinite
	animation-iteration-count infinite

@keyframes pulsate {
	0% {
		transform:scale(.1);
		opacity: 0.0;
	}
	50% {
		opacity:1;
	}
	100% {
		transform:scale(1.2);
		opacity:0;
	}
}

/*------------------------------------------------------
            	  Select2 Customization
------------------------------------------------------*/	
.select2-container
.select2-container-multi
	width 100%	
	
	.select2-choices
		box-sizing border-box
		background-color transparent !important
		background-image none !important
		border 0 !important

.select2-container-multi.select2-container-active
	.select2-choices
		box-shadow none !important
		
.select2-drop
	border 0 !important
	//padding 10px 30px 20px
	padding 20px 20px 10px 20px
	border-radius(4px)
	margin-top 10px
	
.select2-search input 
	min-height 30px
	border 0
	border-bottom 1px solid middle_dark
	font-size 12px
	//text-transform uppercase
	background none !important
	color dark
	box-sizing border-box
	padding-left 20px

.select2-results
	max-height none !important

.select2-results .select2-result-label
	font-size 12px 
	margin 5px 0 !important
	padding 10px 20px !important
	//text-transform uppercase
	//color middle_dark
	color darkest
	
.ui-select-choices-group 
	margin-bottom 20px !important

.ui-select-choices-group:last-of-type
	margin-bottom 0 !important
	
.ui-select-choices-group-label 
	text-transform uppercase !important
		
.select2-result-sub .select2-result-label
.select2-results .select2-result  .select2-result-label
	font-size 14px
	text-transform none
	color darkest !important
.select2-results  .select2-result-with-children .select2-result-label
	font-size 12px
	//text-transform uppercase
	color middle_dark
	
.select2-results  .select2-result-with-children .select2-result-sub .select2-result-selectable .select2-result-label
	font-size 14px
	text-transform none
	color darkest

.select2-highlighted
	background-color bgfocus !important
		
.select2-container-multi .select2-choices .select2-search-choice
	color darkest 
	font-size 14px 
	line-height auto 
	background-image none 
	background-color middle_dark
	padding 10px 13px
	border 0
	box-shadow 0 2px 0 rgba(0,0,0,.15)

.select2-container-multi .select2-choices .select2-search-choice:hover
	background-color #BEC6CB
	//color #fff
	
.select2-container-multi .select2-choices .select2-search-choice-close
	top 0
	left 0
	width 100%
	height 100%
	background-image none !important
	background-color transparent
			
.select2-results .select2-no-results
	color dark
	font-size 11px
	text-transform uppercase
	background-color transparent
	padding 10px 0 0 0
		

.select2-container .select2-choice
	background-image none 
	background-color transparent
	border 0
	padding-left 30px
	color darkest
	font-size 14px
	padding 5px 10px 5px 55px
	
	.select2-arrow
		display none

.select2-dropdown-open .select2-choice,
.select2-container-active .select2-choice
	box-shadow none
	
.filter-drop
	padding 10px 15px !important
	
/*UI SELECT styles*/
.select2-container .select2-choice > .select2-chosen
	display none

/*-------------------------------------------------
				   Media Queries
-------------------------------------------------*/
@media screen and (max-width: 900px) {
	body .header-wrapper .header {
		width: 100%;
		left: 0;
		margin-left: 0;
		padding: 0 10px;
		box-sizing: border-box;
	}
	
	.content-wrapper {
		width: 100%;
		margin-left: 0;
		left: 0;
		padding: 0 10px;
		box-sizing: border-box;
	}
	
	.content-wrapper .fixed-bar {
		width: 100%;
		box-sizing: border-box;
		padding-right: 20px;
	}
}

@media screen and (max-width: 640px) {
	.header a.btn {
		padding-left: .7em;
		padding-right: .7em;
	}
	.teaser {
		width: 100%;
		left: 0;
		margin-left: 0;
		box-sizing: border-box;
		padding: 0 20px;
		top: 20%;
	}
	.teaser h1 {
		font-size: 30px;
	}
	.teaser h2 {
		font-size: 20px;
	}
	
	.content-wrapper .searchbar .search {
		padding-left: 50px;
		padding-right: 20px;
	}

	.content-wrapper .searchbar .search i {
		margin-left: -35px;
	}
	
	.content-wrapper .searchbar .filters {
		height: auto;
	}
	
	.content-wrapper .searchbar .filters .filter{
		display: none;
	}
	
	.content-wrapper .searchbar .filters .filter:first-of-type {
		display: block;
	}
	
	.content-wrapper .searchbar .filters .filter i.icon-angle-up {
		display: none;
	}
	.content-wrapper .searchbar .filters .filter i.icon-angle-down {
		display: block;
	}
	
	.content-wrapper .searchbar .filters .filter {
		width: 100%;
		float: none;
		padding-right: 15px;
		margin: 10px 0;
	}
	
	.content-wrapper .searchbar .filters.opened .filter {
		display: block;
	}
	
	.content-wrapper .searchbar .filters.opened .filter i.icon-angle-up{
		display: block;
	}
	
	.content-wrapper .searchbar .filters.opened .filter i.icon-angle-down{
		display: none;
	}
	
	#filters-trigger {
		display: block;
	} 

	.content-wrapper .searchbar .filters .filter i {
		margin-left: 0;
	}
	
	.content-wrapper .list .item,
	.content-wrapper .list .message {
		height: auto;
		padding: 10px 0;
	}
	
	.content-wrapper .list .item .title,
	.content-wrapper .list .message .title {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
		margin-top: 0;
		float: none;
		padding: 10px 25px 0;
		box-sizing: border-box;
	}
	
	.content-wrapper .list .message p {
		line-height: 1.5;
	}
	
	.content-wrapper .list .message a.btn.outline {
		float: none;
		margin: 20px;
	}

	.content-wrapper .list .item .title p {
		margin: 0;
	}
	
	.content-wrapper .list .item p.right
	.content-wrapper .list .item .message p {
		position: relative;
		float: none;
		margin: 10px 25px;
	}

	.content-wrapper .list .item i {
		float: left;
		padding: 0;
		display: block;
		margin-left: -10px;
	}
	
	.select2-container .select2-choice {
		padding-left: 35px;
	}
	
}